body{
font-family:helvetica,arial,sans-serif;
}
h1,h2,h3{
color:#0000FF;
}
h1 { 
font-size:24px;
}

p {
font-size:16px;
}

p:first-letter{
font-size:30px
}

div p{
font-size:9px;
}

a:link{
color:#FF0000;
}

a:visited{
color:#0000FF;
}

a:hover{
color:#00FF00;
}

h2 {
font-size:20px;
}
.redpara {
color:#FF0000;
}
#greenpara{
color:#00FF00;
}
h3 {
font-size:18px;
}
